.slide-enter,
.slide-leave-to

/* .slide-leave-active below version 2.1.8 */
    {
    opacity: 0;
    transform: translateX(400px);
}

.slide-leave-active,
.slide-enter-active {
    transition: all 500ms;
}